table, td, th {
    border:3px solid black;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(22, 22, 22);
}
body {
    background-color: rgb(17, 17, 17);
    font-family: "Poppins", "Segoe UI", sans-serif;
    color: white;
}
header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 2%, rgb(17, 17, 17) 100%),
    url("fondo.jpg");
    color: rgb(159, 255, 96);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 0 0 4px rgb(0, 0, 0);
  font-family: "Poppins", "Segoe UI", sans-serif;
  h4 {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 0 0 4px rgb(0, 0, 0);

  }
}
xmp {
    color: rgb(255, 255, 255);
    font-family: "Poppins", "Segoe UI", sans-serif;

  }
h1 {
    color: lightgray;
}
.bloque{
  background-color:rgb(37, 37, 37);
}

